{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <main class="w-25 m-auto my-5">
    <h1 class="mb-3 fw-normal">Register</h1>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        <div class="form-floating">
        {{ form_widget(registrationForm.email) }}
            {{ form_label(registrationForm.email) }}
        </div>
        <div class="form-floating">
            {{ form_widget(registrationForm.plainPassword.first) }}
            {{ form_label(registrationForm.plainPassword.first) }}
        </div>
        <div class="form-floating">
            {{ form_widget(registrationForm.plainPassword.second) }}
            {{ form_label(registrationForm.plainPassword.second) }}
        </div>

        <p class="text-start fs-2">Already have an account? <br>
            <a class="text-bg-dark" href="{{ path('app_login') }}" class="text-start fs-2">Click to login!</a>

        <button class="btn btn-secondary w-100 my-3" type="submit">Register</button>
    {{ form_end(registrationForm) }}
    </main>
{% endblock %}
