{% extends 'base.html.twig' %}

{% block title %}RecSymfonyTask{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1 class="display-4">Welcome to RecSymfonyTask!</h1>
        <p class="lead fs-2">To start using this app: 👇</p>
        <div class="container mt-5">
            <ul class="list-group">
                <li class="list-group-item fs-3 text-center"><a  href="{{ path('app_login') }}">Login</a></li>
                <li class="list-group-item fs-3 text-center"><a  href="{{ path('app_register') }}">Register</a></li>
            </ul>
        </div>
    </div>
{% endblock %}