{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <main class="w-25 m-auto my-5">
        <h1>Create new task</h1>
        {{ form_start(form) }}
        <div class="form-floating my-1">
            {{ form_widget(form.name) }}
            {{ form_label(form.name) }}
        </div>
        <div class="form-floating my-4">
            {{ form_widget(form.Description) }}
            {{ form_label(form.Description) }}
        </div>
        <div class="form-floating my-4">
            {{ form_widget(form.Priority) }}
            {{ form_label(form.Priority) }}
        </div>
        <div class="form-floating my-4">
            {{ form_widget(form.CompletionDate) }}
            {{ form_label(form.CompletionDate) }}
        </div>
        <button class="btn btn-secondary w-100 my-3" type="submit">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}
    </main>
{% endblock %}
