{% extends 'base.html.twig' %}


{% block body %}
    <main class="w-25 m-auto my-5">
    {% if error %}
        <div class="error">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <h1 class="mb-3 fw-normal">Please sign in</h1>
    <form action="{{ path('app_login') }}" method="post">
        <div class="form-floating">
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
            <label for="username">Email</label>
        </div>
        <div class="form-floating">
        <input class="form-control" type="password" id="password" name="_password">
            <label for="password">Password</label>
        </div>
        <p class="text-start fs-2">You haven't an account yet? <br>
        <a class="text-bg-dark" href="{{ path('app_register') }}" class="text-start fs-2">Click to register!</a>
        </p>
        <input type="hidden" name="_target_path" value="/lists"/>
        <button class="btn btn-secondary w-100" type="submit">Login</button>
    </form>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="#"></script>
{% endblock %}