@import "~bootstrap";
@import "~font-awesome";

body {
    font-family: Roboto, serif;
}
h1
{
    font-style: italic;
}
a
{
    color: gray;
    text-decoration: none;
}
.list-group-item, input
{
    background-color: snow;
    border-radius: 5px;
    margin-bottom: 20px;
}