<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex h-100 text-center text-bg-dark">
    {% if app.user %}
      <a class="fs-5 mx-2 h-25" href="{{ path('app_logout') }}">Logout</a>
    {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
