{% extends 'base.html.twig' %}

{% block title %}Edit ToDoList{% endblock %}

{% block body %}
    <main class="w-25 m-auto my-5">
        <h1>Edit ToDoList</h1>
        {{ form_start(form) }}
        <div class="form-floating">
            {{ form_widget(form.name) }}
            {{ form_label(form.name) }}
        </div>
        {{ form_row(form._token) }}
        <button class="btn btn-secondary w-100" type="submit">{{ button_label|default('Save') }}</button>
    </main>
{% endblock %}
