{% extends 'base.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block body %}
    <div class="w-100 m-auto my-5">
        <h2><a href="{{ path('app_lists_new') }}">Add new list <i class="fa fa-plus"></i></a></h2>

        <div class="row my-5">
            {% for list in lists %}
            <div class="col-md-4">
                <h2>
                    <a href="{{ path('app_lists_show', {id: list.id}) }}">{{ list.name }}</a>
                    <a href="{{ path('app_lists_edit', {id: list.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="{{ path('app_lists_delete', {id: list.id}) }}">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </h2>
                <br>
                {% set i = 0 %}
                {% for task in list.tasks %}
                    {% if i < 5 %}
                        {% set i = i + 1 %}
                        <h4>{{ task.name }}</h4>
                    {% endif %}
                {% endfor %}
            </div>
            {% if loop.index % 3 == 0 %}
        </div><div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
