{% extends 'base.html.twig' %}

{% block title %}New ToDoList{% endblock %}

{% block body %}
    <main class="w-25 m-auto my-5">
    <h1>Create new ToDoList</h1>
    {{ form_start(form) }}
    <div class="form-floating">
        {{ form_widget(form.name) }}
        {{ form_label(form.name) }}
    </div>
    <button class="btn btn-secondary w-100" type="submit">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    </main>
{% endblock %}
