{% extends 'base.html.twig' %}

{% block title %}ToDoList{% endblock %}

{% block body %}
    <div class="w-100 m-auto">
    <h1>{{ list.name }}</h1>
    <h3>Tasks</h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Completion Date</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            {% for task in list.tasks %}
                <tr id="row{{ task.id }}">
                    <td>
                        {{ task.name }}
                    </td>
                    <td>
                        {{ task.description }}
                    </td>
                    <td>
                        {{ task.priority }}
                    </td>
                    <td>
                        {{ task.completiondate|date('Y-m-d') }}
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" class="delete-checkbox" data-task-id="{{ task.id }}">
                        </label>
                    </td>
                    <td>
                        <a href="{{ path('app_task_edit', {id: task.id, listId: list.id}) }}">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <p class="text-start fs-2"><a href="{{ path('app_task_new', {listId: list.id}) }}">Add more task!</a></p>
    </div>
{% endblock %}
